{% load home_tags cache static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

<div class="footer-content">
<div class="footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <ul class="the-icons" style="color:white">
          <li><h5>Coral Getsêmani</h5></li>
            <li>
            <i class="fa fa-map-marker"></i>
            :: Rua Silvério Ribeiro, 360</li>
            <li><i class="fa fa-map-marker"></i>
            :: Belo Horizonte, Brasil</li>
            <li><i class="fa fa-map-marker"></i>
            :: CEP: 31260-590</li>
            <li>
                        
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4" align="center">
          <ul class="the-icons" style="color:white">
            <li><h5>Telefones de contato</h5></li>
            <li><i class="fa fa-phone"></i>
            :: (31) 98715-3568</li>
            <li><i class="fa fa-phone"></i>
            :: (31) 98465-0847</li>
          </ul>

        </div>
        <div class="col-xs-6 col-sm-4" align="right">
          <ul class="the-icons" style="color:white">
          <li><h5>Internet</h5></li>
            
            <li><i class="fa fa-facebook-square"></i>
            <a href="https://www.facebook.com/coral.getsemani.bh" target="_blank">:: Coral.Getsemani.BH</a></li>
            <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:coralgetsemani.bh@gmail.com">:: coralgetsemani.bh@gmail.com</a></li>
            
          </ul>
        </div>
      </div>
      <p class="copyright" align="center">&copy; 2017 Coral Getsêmani. Todos os direitos reservados.</p>

    </footer>
  </div>
</div>
</div>
